access_key = ""
secret_key = ""
region = "us-east-1"
dbpassword = "odoodbpassword"
dbuser = "odoodbuser"
dbversion = "9.6"
odooversion = "12.0"
ssh_key = "<ssh key name>"
ssh_key_path = "/home/ubuntu/.ssh/key.pem"