access_key = ""
secret_key = ""
region = "us-east-1"
dbpassword = "odoodbpassword"
dbuser = "odoodbuser"
dbversion = "9.6"
odooversion = "13.0"
ssh_key = "<ssh key name>"
ssh_key_path = "/home/ubuntu/.ssh/key.pem"
ec2_instance_type = "t2.micro"
rds_instance_type = "db.t2.micro"
